In [1]:
A = [1,2,3,4,5,6]
B = [13, 21, 34]

In [2]:
A.extend(B)

In [3]:
A

[1, 2, 3, 4, 5, 6, 13, 21, 34]

In [4]:
import numpy as np

In [5]:
np.eye(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [6]:
#OR
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [7]:
import pandas as pd

In [8]:
fuel = pd.read_csv('fuel_ferc1.csv')

In [9]:
fuel.head()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

In [10]:
fuel.groupby("fuel_type_code_pudl").mean()

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
fuel_type_code_pudl,,,,,,,
coal,115.637534,2004.623143,1.903473e+06,20.762780,67.421830,116.951141,1.787190
gas,124.122062,2005.978060,4.843183e+06,1.021913,13.659397,12.095172,5.408876
nuclear,107.397311,2002.970660,5.454838e+06,17.582120,4955.157002,28616.915039,1.716559
oil,113.236235,2007.195933,6.311677e+04,5.814377,168.877086,313.907691,12.698732
other,110.467066,2001.700599,2.948137e+06,0.572752,18.253856,16.871485,155.084910
waste,154.253968,2005.650794,1.171914e+05,0.341163,19.518122,18.413052,822.709937

In [11]:
fuel.describe()

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
count,29523.000000,29523.000000,2.952300e+04,29523.000000,29523.000000,2.952300e+04,29523.000000
mean,118.601836,2005.806050,2.622119e+06,8.492111,208.649031,9.175704e+02,19.304354
std,74.178353,7.025483,9.118004e+06,10.600220,2854.490090,6.877593e+04,2091.540939
min,1.000000,1994.000000,1.000000e+00,0.000001,-276.080000,-8.749370e+02,-41.501000
25%,55.000000,2000.000000,1.381700e+04,1.024000,5.207000,3.778500e+00,1.940000
50%,122.000000,2006.000000,2.533220e+05,5.762694,26.000000,1.737100e+01,4.127000
75%,176.000000,2012.000000,1.424034e+06,17.006000,47.113000,4.213700e+01,7.745000
max,514.000000,2018.000000,5.558942e+08,341.260000,139358.000000,7.964521e+06,359278.000000

In [12]:
fuel.skew()

utility_id_ferc1                  0.605070
report_year                       0.006953
fuel_qty_burned                  15.851495
fuel_mmbtu_per_unit               4.135217
fuel_cost_per_unit_burned        19.787440
fuel_cost_per_unit_delivered    105.014227
fuel_cost_per_mmbtu             171.675535
dtype: float64

In [13]:
fuel.kurtosis()

utility_id_ferc1                    1.088432
report_year                        -1.145656
fuel_qty_burned                   651.369450
fuel_mmbtu_per_unit                55.595695
fuel_cost_per_unit_burned         485.255851
fuel_cost_per_unit_delivered    11765.054226
fuel_cost_per_mmbtu             29489.132594
dtype: float64

In [14]:
fuel.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [15]:
fuel.isnull().sum() * 100 / len(fuel)  # percent_missing = df.isnull().sum() * 100 / len(df)

record_id                       0.000000
utility_id_ferc1                0.000000
report_year                     0.000000
plant_name_ferc1                0.000000
fuel_type_code_pudl             0.000000
fuel_unit                       0.609694
fuel_qty_burned                 0.000000
fuel_mmbtu_per_unit             0.000000
fuel_cost_per_unit_burned       0.000000
fuel_cost_per_unit_delivered    0.000000
fuel_cost_per_mmbtu             0.000000
dtype: float64

In [16]:
# Feature: fuel_unit, Total: 180, Percent: 0.610

In [17]:
fuel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29523 entries, 0 to 29522
Data columns (total 11 columns):
record_id                       29523 non-null object
utility_id_ferc1                29523 non-null int64
report_year                     29523 non-null int64
plant_name_ferc1                29523 non-null object
fuel_type_code_pudl             29523 non-null object
fuel_unit                       29343 non-null object
fuel_qty_burned                 29523 non-null float64
fuel_mmbtu_per_unit             29523 non-null float64
fuel_cost_per_unit_burned       29523 non-null float64
fuel_cost_per_unit_delivered    29523 non-null float64
fuel_cost_per_mmbtu             29523 non-null float64
dtypes: float64(5), int64(2), object(4)
memory usage: 2.5+ MB

In [18]:
fuel.fuel_unit

0        ton
1        ton
2        ton
3        ton
4        mcf
        ...
29518    mcf
29519    mcf
29520    mcf
29521    ton
29522    mcf
Name: fuel_unit, Length: 29523, dtype: object

In [19]:
# Look at correlation with target
fuel.corr()['fuel_cost_per_unit_burned'].sort_values().plot(kind='bar', figsize=(18, 6))

In [20]:
fuel.corr()

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
utility_id_ferc1,1.000000,0.093323,-0.057447,-0.066946,-0.037863,-0.016414,0.006122
report_year,0.093323,1.000000,0.012952,-0.110853,0.013599,-0.014043,0.010261
fuel_qty_burned,-0.057447,0.012952,1.000000,-0.080946,-0.018535,-0.003551,-0.001896
fuel_mmbtu_per_unit,-0.066946,-0.110853,-0.080946,1.000000,-0.010034,-0.009039,-0.005884
fuel_cost_per_unit_burned,-0.037863,0.013599,-0.018535,-0.010034,1.000000,0.011007,-0.000437
fuel_cost_per_unit_delivered,-0.016414,-0.014043,-0.003551,-0.009039,0.011007,1.000000,-0.000109
fuel_cost_per_mmbtu,0.006122,0.010261,-0.001896,-0.005884,-0.000437,-0.000109,1.000000

In [21]:
fuel.groupby(["fuel_type_code_pudl", "report_year"]).mean()

                                 utility_id_ferc1  fuel_qty_burned  \
fuel_type_code_pudl report_year
coal                1994               106.168421     1.509912e+06
                    1995               107.854737     2.647153e+06
                    1996               106.078886     1.621465e+06
                    1997               106.124700     1.958999e+06
                    1998               107.663573     2.084013e+06
...                                           ...              ...
waste               2014               157.777778     2.004032e+05
                    2015               157.611111     2.076373e+05
                    2016               149.823529     2.224943e+05
                    2017               145.533333     2.356153e+05
                    2018               142.312500     2.060233e+05

                                 fuel_mmbtu_per_unit  \
fuel_type_code_pudl report_year
coal                1994                   21.670377
                    1995                   21.604251
                    1996                   21.507838
                    1997                   21.582963
                    1998                   21.375364
...                                              ...
waste               2014                    0.484179
                    2015                    0.485471
                    2016                    0.519342
                    2017                    0.579088
                    2018                    0.543370

                                 fuel_cost_per_unit_burned  \
fuel_type_code_pudl report_year
coal                1994                         31.546467
                    1995                         30.677442
                    1996                         29.454299
                    1997                        104.897309
                    1998                         27.616234
...                                                    ...
waste               2014                         32.866333
                    2015                         34.959444
                    2016                         31.710529
                    2017                         30.138600
                    2018                         41.310750

                                 fuel_cost_per_unit_delivered  \
fuel_type_code_pudl report_year
coal                1994                           124.663939
                    1995                            28.850834
                    1996                            28.045432
                    1997                            27.119043
                    1998                           716.015659
...                                                       ...
waste               2014                            30.294056
                    2015                            32.854444
                    2016                            29.661471
                    2017                            27.854533
                    2018                            32.171813

                                 fuel_cost_per_mmbtu
fuel_type_code_pudl report_year
coal                1994                    1.436099
                    1995                    1.397351
                    1996                    1.349366
                    1997                    1.322989
                    1998                    1.292496
...                                              ...
waste               2014                   19.101611
                    2015                   21.734111
                    2016                   25.270529
                    2017                23954.116867
                    2018                   19.699562

[148 rows x 6 columns]

In [22]:
# From the table, the percentage change in fuel cost per unit burned in 1998 to 1994 is calculated thus:

percent = (27.616234 - 31.546467)*100/27.616234
print('The percentage change in fuel cost per unit burned in 1998 to 1994 is:', percent,'%')

The percentage change in fuel cost per unit burned in 1998 to 1994 is: -14.231603773345784 %

In [23]:
highest_av_yr = fuel['report_year'][(fuel['fuel_cost_per_unit_delivered']==fuel['fuel_cost_per_unit_delivered'].max())]
highest_av_yr

3564    1997
Name: report_year, dtype: int64